@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Microsoft Jhenghei;
}

header{
	display:block;
	/*background-color: orange;*/
	background-color: white;
	height: 20vh;
}

header section{
	display: flex;
	width: 80%;
	background: white;
	margin: 0 auto;

}

#information{
	width: 40vw;
	background-color: white;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	right: 10vw;
	padding:5vh;
}

@media only screen and (max-width:1400px){
	#information{display: none;}
}

.logo-info{
	background-color: white;
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 10vw;
}

.logo-info ul{
	display: inline-block;
	list-style: none;
	/*padding: 1vw;*/
}

.logo-info i{
	display: flex;
	align-items: center;
}

.logo-info li{
	padding: 1vh 1vw;
	text-align: center;
}

.logo{/*無效*/
	background-color: white;
	height: 150px;
	padding: 20px;
}

.logo img{
	width: : 100%;
	max-height: 150px;
	min-height: 150px;
	position: absolute;
	margin:auto 0;
}

nav{
	position: absolute;
	display: flex;
	justify-content: space-between;
	background-color: #191970;
	width: 80%;
	height: 50px;
	z-index: 2;
}

nav ul{
	display: flex;
	justify-content: space-between;
	background-color: navy;
	width: 40vw;
	list-style: none;
	/*align-items: center;*/
}

nav ul>li{
	background-color: #191970;
	line-height: 50px;
	width: 10vw;
	text-align: center;
}

nav a{
	text-decoration: none;
	color:white;
	display: block;
}

.dropbtn{
	background-color: ;
}

.dropbtn :hover{
	background-color: rgb(255 140 0 );
}

.dropbtn-2 :hover{
	background-color: rgb(255 140 0 );
}

.dropdown{
	position: relative;
	/*display: inline-block;*/
}

.dropdown-content{
	position: absolute;
	width: 10vw;
	left: 10vw;
	padding-left: auto;
	display: inline-block;
}

.dropdown-content li{/*下拉選單外觀*/
	/*隱藏*/
	display: none;
	background-color: orange; 
	min-width: 10vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a{
	/*padding: 12px 16px;*/

}

.dropbtn-2:hover .dropdown-content li{
	display: block;
}

.dropdown-content li:hover .dropbtn-2 {/*無效*/
    background-color: white !important;
}

.dropdown-content li:hover{
	background-color: rgb(255 140 0);
}


/*banner*/
#banner{
	display:flex;
	background-color: transparent;
	margin: 0 auto;
	width: 100%;
}

#banner main{
	width: 100%;
	height: 900px;
}

.banner-pic{
	display: flex;
	margin: 0 auto;
	background-color: green;
}

.banner-pic img{
	width: 100%;
	max-width: 100%;
	height: auto;
	z-index: -1;
	position: absolute;
	top: 200px;
}

.flex-2col{
	display: flex;
	margin: 0 auto;
	text-align: center;
	justify-content: space-around;
	width: 100%;
	background-color: transparent;
}


.flex-3col{
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	width: 80%;
	padding-top: 35vh;
	background-color:transparent;
}

@media only screen and (max-height: 600px){
	.flex-3col{display: none;}
}

.flex-3col img{
	width: 20vw;
}

#about-us{
	background-color: transparent;
	width: 80%;
	margin: 0 auto;
	padding: 50px 0;
}

#showroom{
	background-color: blue;
	/*width: 80%;*/
	/*margin: 0 auto;*/
}

.grid-container{
	background: green;
	margin: 0 auto;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 25% 25% 25% 25%;
	width: 80%;
}

.item-box{
	height: 300px;
	width: 300px;
	background-image:;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.item-box >div{
	background: #eee;
}

/*字體設定*/
.small-font{
	font-size: small;
}

/*相框設定*/
.pic-frame-100vw img{
	width: 100%;
	max-width: 100%;
}

.pic-frame-fullframe img{
	height: 500px;

}