@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Microsoft Jhenghei;
}

header{
	display:block;
	/*background-color: orange;*/
	background-color: white;
	height: 20vh;
}

header section{
	display: flex;
	width: 80%;
	background: white;
	margin: 0 auto;

}

.information{

}

.information img{
	width: 100%;
	padding-top: 3vh;
}

/*#information{
	width: 40vw;
	background-color: white;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	right: 10vw;
	padding:5vh;
}*/

@media only screen and (max-width:1400px){
	.information{display: none;}
}

.logo-info{
	background-color: white;
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 10vw;
}

.logo-info ul{
	display: inline-block;
	list-style: none;
	/*padding: 1vw;*/
}

.logo-info i{
	display: flex;
	align-items: center;
}

.logo-info li{
	padding: 1vh 1vw;
	text-align: center;
}

.logo{/*無效*/
	background-color: white;
	height: 150px;
	padding: 20px;
}

.logo img{
	width: : 100%;
	max-height: 150px;
	min-height: 150px;
	position: absolute;
	margin:auto 0;
}

nav{
	position: absolute;
	display: flex;
	justify-content: space-between;
	background-color: #191970;
	width: 80%;
	height: 50px;
	z-index: 1;
}

#pages-nav{/*支頁的導覽列nav*/
	position: absolute;
	display: flex;
	justify-content: space-between;
	background-color: #191970;
	width: 80%;
	height: 50px;
	z-index: 1;
	top: 20vh;
}

#pages-nav a {/*支頁的導覽列的底線消除*/
	text-decoration: none;
}

nav ul{
	display: flex;
	justify-content: space-between;
	background-color: navy;
	width: 40vw;
	list-style: none;
	/*align-items: center;*/
}

nav ul>li{
	background-color: #191970;
	line-height: 50px;
	width: 10vw;
	text-align: center;
}

nav a{
	text-decoration: none;
	color:white;
	display: block;
}

.nav-searchbar{
	width: 15%;
	display: flex;
	justify-content: center;
	z-index: -1;
}

.nav-searchbar input{
	margin: 5px 5px;
}

.nav-searchbar i{
	/*margin: 10 10;*/
	position: absolute;
	right:    60px;
	top: 10px;
	font-size: 20pt;
	z-index: 1;
	color: rgb(220 220 220);/*淺灰色的放大鏡icon*/
}

.nav-page{
	/*background-color: blue;*/
	margin: 0 auto;
	text-align: center;
}

.nav-page a {
	padding: 50px 10px;
}

.dropbtn{
	background-color: ;
}

.dropbtn :hover{
	background-color: rgb(255 140 0 );
}

.dropbtn-2 :hover{
	background-color: rgb(255 140 0 );
}

.dropbtn-3 :hover{
	background-color: rgb(255 140 0 );
}

.dropbtn-4 :hover{
	background-color: rgb(255 140 0 );
}

.dropdown{
	position: relative;
	/*display: inline-block;*/
}

.dropdown-content{
	position: absolute;
	width: 10vw;
	left: 10vw;
	padding-left: auto;
	display: inline-block;
}

.dropdown-content-3{
	position: absolute;
	width: 10vw;
	left: 20vw;
	padding-left: auto;
	display: inline-block;
}
.dropdown-content-4{
	position: absolute;
	width: 10vw;
	left: 30vw;
	padding-left: auto;
	display: inline-block;
}

.dropdown-content-5{
	position: absolute;
	width: 10vw;
	left: 20vw;
	padding-left: auto;
	display: inline-block;
}

.dropdown-content-6{
	position: absolute;
	width: 10vw;
	left: 30vw;
	padding-left: auto;
	display: inline-block;
}

.dropdown-content-7{
	position: absolute;
	width: 10vw;
	left: 40vw;
	padding-left: auto;
	display: inline-block;
}

.dropdown-content-8{
	position: absolute;
	width: 10vw;
	left: 50vw;
	padding-left: auto;
	display: inline-block;
}

.dropdown-content li{/*下拉選單外觀*/
	/*隱藏*/
	display: none;
	background-color: orange; 
	min-width: 10vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content-3 li{/*下拉選單外觀*/
	/*隱藏*/
	display: none;
	background-color: orange; 
	min-width: 10vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content-4 li{/*下拉選單外觀*/
	/*隱藏*/
	display: none;
	background-color: orange; 
	min-width: 10vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content-5 li{/*下拉選單外觀*/
	/*隱藏*/
	display: none;
	background-color: orange; 
	min-width: 10vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content-6 li{/*下拉選單外觀*/
	/*隱藏*/
	display: none;
	background-color: orange; 
	min-width: 10vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content-7 li{/*下拉選單外觀*/
	/*隱藏*/
	display: none;
	background-color: orange; 
	min-width: 10vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content-8 li{/*下拉選單外觀*/
	/*隱藏*/
	display: none;
	background-color: orange; 
	min-width: 10vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a{
	/*padding: 12px 16px;*/

}

/*滑鼠指向菜單，下拉選單（三列隱藏選單）*/
.dropbtn-2:hover .dropdown-content li{
	display: block;
}

.dropbtn-2:hover .dropdown-content-3 li{
	display: block;
}

.dropbtn-2:hover .dropdown-content-4 li{
	display: block;
}

.dropbtn-3:hover .dropdown-content-5 li{
	display: block;
}

.dropbtn-3:hover .dropdown-content-6 li{
	display: block;
}

.dropbtn-3:hover .dropdown-content-7 li{
	display: block;
}

.dropbtn-3:hover .dropdown-content-8 li{
	display: block;
}

.dropdown-content li:hover .dropbtn-2 {/*無效*/
    background-color: white !important;
}

.dropdown-content li:hover{
	background-color: rgb(255 140 0);
}


/*banner*/
#banner{
	display:flex;
	background-color: transparent;
	margin: 0 auto;
	width: 100%;
}

#banner main{
	width: 100%;
	height: 900px;
}

#banner-2 main{
	width: 100%;
	/*height: */
}

.banner-pic-2 img{
	background-size: cover;
	position: relative;

}

.banner-pic{
	display: flex;
	margin: 0 auto;
	background-color: green;
}
/*
.subtitile{
	z-index: 1000;
	transform: translate(-50%,-50%);
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
}*/

.banner-pic img{
	width: 100%;
	max-width: 100%;
	height: auto;
	z-index: -1;
	position: absolute;
	top: 200px;
}

.flex-2col{
	display: flex;
	margin: 0 auto;
	text-align: center;
	justify-content: space-around;
	width: 100%;
	background-color: transparent;
}


.flex-3col{
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	width: 80%;
	padding-top: 35vh;
	background-color:transparent;
}

@media only screen and (max-height: 600px){
	.flex-3col{display: none;}
}

.flex-3col img{
	width: 20vw;
}

#about-us{
	background-color: transparent;
	width: 80%;
	margin: 0 auto;
	padding: 50px 0;
}

#showroom{
	background-color: transparent;
	padding-top: 5vh;
	/*max-height: 4000px;*/
	width: 80%;
	margin: 0 auto;
}

.container-2{
	display: flex;
	
}

.category{
	width: 10vw;
	/*padding-left: 5vw;*/

}

.category li{
	list-style: none;
}

.category a{
	text-decoration: none;
}

.grid-container{
	padding-top: 40px;
	background: transparent;
	margin: 0 auto;
	display: grid;
	text-align:center;
	grid-gap: 5px;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	width: 80%;
	height: 100%;
}

.grid-container >div{
	margin: auto;
	padding-bottom: 40px;
}

.grid-container-2{
	padding-top: 40px;
	background: transparent;
	margin: 0 auto;
	display: grid;
	text-align:center;
	grid-gap: 5px;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 80%;
	height: 100%;
}

.grid-container-2 >div{
	margin: auto;
	padding-bottom: 40px;
}

.grid-container-3{
	padding-top: 40px;
	background: transparent;
	margin: 0 auto;
	display: grid;
	text-align:center;
	grid-gap: 5px;
	grid-template-columns:1fr 1fr 1fr ;
	grid-template-rows: 1fr 1fr 1fr;
	width: 80%;
	height: 100%;
}

.grid-container-3 >div{
	margin: auto;
	padding-bottom: 40px;
}

.border-line{
	border-style: solid;
	border-width: 2px;
	border-color: black;
	width: 277px;
	height: 277px;
}

.item-box{
	height: 300px;
	width: 300px;
	background-image:;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.item-box >div{
	background: #eee;
}

.item-text{
	color: white;
	font-size: 50px;
	font-family: Microsoft JhengHei;
	position: absolute;	
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.item-container{
	position: relative;
	width: 300px;
	height: 300px;
		/*margin:auto;
	padding: auto;*/
}



.item-container img{
/*	border-style: solid;
	border-width: 2px;
	border-color: rgb(220 220 220);*/
	/*width: 100%;*/
	height: auto;
	max-height: 277px;
	/*min-height: 277px;*/
	max-width: 277px;

}

.item-container :hover {
	opacity: 1;
}

.overlay{
	position:absolute;
	top: 10px;
	bottom: 0;
	left: 10px;
	right: 0;
	height: 245px;
	width: 245px;
	opacity: 0;
	transition: .5s ease;
	background-color: #003eba;
	padding: 1rem;

}

.productList{
	width: 30%;
	/*height: 25%;*/
	margin: 0px 0;
	z-index: 1;
	/*float: left;*/
	/*text-align: center;*/
}

footer{
	background-color: transparent;
	position: static;
	padding-top: 200px;
	display: flex;
	color: white;
}

footer >div{
	width: 50%;
}

footer h2{
	font-size: 5em;
}

footer h4{
	font-size: 1.5em;
}

#footer-3{
	width: 100%;
	height: 580px;
	display: block;
	padding-top: 10vh;
	/*background-color: #081B3E;*/
}

#footer-3 .pic-frame-fullwidth img{
	width: 100%;
}


#contact-us{
	background-color: #0f0d4d;
	padding-left: 30px;
}

.form1{
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	max-width: 500px;
	width: 430px;
}

.form2{
	width: 400px;
}

.form2 textarea{
	width:400px;
}

form{
	min-width: 350px;
	max-width: 400px;
	padding-top: 30px;
}

.actions{
	list-style: none;
	position: absolute;
}

.actions ul{
	position: absolute;
	right:  0px;
}

.actions li{
	position: absolute;
	padding: 20px 0;
	display: block;
	left: 19em;
}

.button{
	color: white;
	background-color: #ff8c00;
	border-radius: 30px;
	width: 100px;
	height: 3.75em;
	border-color: white;
}

#right-searchbar{
	width: 80%;
	height: 5vh;
	padding-top: 10vh;
	margin: 0 auto;
	right: 10vw;
}

#right-searchbar div{
	position: flex;
	justify-content: flex-end;
	/*width: 50%;*/
	right: 8px;
}

.searchbtn{
	background: #081B3E;
	width: 36px;
	height: 36px;
	position: relative;

}

.searchbtn .fas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background:rgba(0,0,0,0.2)/* #6cc091*/;
	border-radius: 10px;
	border: none;
	/*border: solid 2px #fff;*/
	color: #fff;
	background-color: white;
	display: block;
	outline: 0;
	padding: 0 1sem;
	text-decoration: none;
	/*width: 100%;*//*影響我的search bar 的長度，所以我關了*/
}

/*個別input*/
.nav-searchbar >input[type="text"],
textarea [type="search"]{
	border-radius: 30px;
	padding-left: 20px;/*調整行內文字的位置，我要向右移動避免靠邊*/
}

#right-searchbar input[type="rightsearch"],
textarea [type="rightserch"]{
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background:rgba(0,0,0,0.2)/* #6cc091*/;
	border: none;
	line-height: 30px;
	border: solid 2px #fff;
	border-color: grey;
	color: #fff;
	background-color: white;
	display: block;
	outline: 0;
	padding: 0 1sem;

}

#contact-us
input[type="text"],
input[type="email"],
textarea{
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background:yellow/* #6cc091*/;
	border: none;
	line-height: 30px;
	border: solid 1px #fff;
	border-color: grey;
	color: #fff;
	background-color: white;
	display: block;
	outline: 0;
	padding: 0 1em;
	padding-left: 20px;
	/*font-weight: bold;*/
}

#contact-us
input[type="text"],
input[type="email"]{
	width: 9vw;
}



input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
	box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
	border-color: #4bae77;
	box-shadow: 0 0 0 1px #4bae77;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
	height: 2.75em;
}

textarea {
	/*padding: 0.75em 1em;*/
}

input[type="checkbox"],
input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2em;
	opacity: 0;
	width: 1em;
	z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	text-decoration: none;
	color: #9a9a9a;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 400;
	padding-left: 2.4em;
	padding-right: 0.75em;
	position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	background: rgba(144, 144, 144, 0.075);
	border-radius: 0;
	border: solid 1px #8dcca9;
	content: '';
	display: inline-block;
	height: 1.65em;
	left: 0;
	line-height: 1.58125em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 1.65em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
	background: #6cc091;
	border-color: #6cc091;
	color: #ffffff;
	content: '\f00c';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
	border-color: #6cc091;
	box-shadow: 0 0 0 1px #6cc091;
}

input[type="checkbox"] + label:before {
	border-radius: 0;
}

input[type="radio"] + label:before {
	border-radius: 100%;
}

::-webkit-input-placeholder {
	color: #c4e5d3 !important;
	opacity: 1.0;
}

:-moz-placeholder {
	color: #c4e5d3 !important;
	opacity: 1.0;
}

::-moz-placeholder {
	color: #c4e5d3 !important;
	opacity: 1.0;
}

:-ms-input-placeholder {
	color: #c4e5d3 !important;
	opacity: 1.0;
}

/*頁碼樣式*/
/*GRID*/
/*.six { width: 49.2%; }沒有用*/

/* GENERAL STYLES */

.pagination{
  padding: 30px 0;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a{
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

.pagination-container{
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.p6 a{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 0;
  margin: auto 5px;
  text-align: center;
  position: relative;
  background-color: #D0D0D0/*rgba(46, 204, 113, 0.4)*/;
}

.p6 .is-active{
  background-color: #8E8E8E/*#2ecc71*/;
}


/*字體設定*/
.small-font{
	font-size: small;
}

.smaller-font{
	font-size: 30pt;
}

/*相框設定*/
.pic-frame-100vw img{
	width: 100%;
	max-width: 100%;
	min-width: 780px;
}

.pic-frame-fullframe img{
	height: 500px;

}

.pic-frame-fullwidth img{
	width: 100%;
	margin: 0 auto;
}

.gototop{
	position: fixed;
	width: 50px;
	height: 50px;
	background-color: #0f0d7d;
	bottom: 40px;
	right: 50px;
	border-radius: 30px;
	border: 3px;
	border-color: white;
	text-align: center;
}

.gototop i{
	text-align: center;
	margin: auto;
	color: white;
	font-size: 30px;
	padding-top: 10px;
}

.gototop a{
	color: white;
	text-decoration: none;
}


/*Jodie's css work*/
#j-section {
    padding: 60px 0;
    min-height: 100vh;/*原本是設min-height*/
}
.contact-info {
  display: inline-block;
  width: 100%;
  text-align: center;
      margin-bottom: 10px;
}
.contact-info-icon {
margin-bottom: 15px;
}
.contact-info-item {
  background: #0A1C41;
  padding: 30px 0px;
}
.contact-page-sec .contact-page-form h2 {
  color: #071c34;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 700;
  font-family: Microsoft JhengHei;
}
.contact-page-form .col-md-6.col-sm-6.col-xs-12 {
  padding-left: 0;
}  
.contact-page-form.contact-form input {
  margin-bottom: 5px;
}  
.contact-page-form.contact-form textarea {
  height: 110px;
}
.contact-page-form.contact-form input[type="submit"] {
  background: #071c34;
  width: 150px;
  border-color: #071c34;
}
.contact-info-icon i {
  font-size: 48px;
  color: #EA682B;
}
.contact-info-text p{margin-bottom:0px;}
.contact-info-text h2 {
  color: #fff;
  font-family: Microsoft JhengHei;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact-info-text span {
  color: white;
  font-family: Microsoft JhengHei;
  font-size: 16px;
  font-weight: 20px;
  display: inline-block;
  width: 100%;
}

.contact-page-form input {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #f9f9f9;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  border-radius: 4px;
}

.contact-page-form .message-input {
display: inline-block;
width: 100%;
padding-left: 0;
}
.single-input-field textarea {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #f9f9f9;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
}
.single-input-fieldsbtn input[type="submit"] {
  background: #EA682B none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  padding: 10px 0;
  text-transform: capitalize;
  font-family: Microsoft JhengHei;
  width: 150px;
  margin-top: 20px;
  font-size: 16px;
}
.single-input-fieldsbtn input[type="submit"]:hover{background:#071c34;transition: all 0.4s ease-in-out 0s;border-color:#071c34}
.single-input-field  h4 {
  color: #464646;
  text-transform: capitalize;
  font-family: Microsoft JhengHei;
  font-size: 14px;
}
.contact-page-form {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}

.contact-page-map {
  margin-top: 36px;
}
.contact-page-form form {
    padding: 20px 15px 0;
}

.main-module{
  background-color: green;
  position: absolute;
  width: 100%;
  top: 300px;
}

